.programs {
  margin: 0 20px 21px;
  &__list {
    max-width: 570px;
    margin: 0 auto;
  }
  &__item {
    padding: 35px 20px 20px;
    min-width: 240px;
  }
  &__item:not(:last-of-type) {
    margin-bottom: 21px;
  }
  &__item:nth-of-type(1) {
    background:
      url('../img/cat-sitting.svg') 23px 21px / 50px 53px no-repeat,
      #f2f2f2;
  }
  &__item:nth-of-type(2) {
    // padding-top: 34px;
    background:
      url('../img/cat-walking.svg') 14px 23px / 67px 50px no-repeat,
      #f2f2f2;
  }
  &__item-title {
    font-size: 24px;
    line-height: 26px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 72px;
    margin-bottom: 35px;
  }
  &__item-text {
    font-size: 14px;
    margin-left: 1px; // PP
  }
  &__item-line {
    border-top: 1px solid #d9d9d9;
    margin-top: 22px;
  }
  &__item-link {
    display: inline-block;
    margin-top: 10px;
    // margin-left: 1px;
  }
}
