.welcome {
  margin: 0 auto 20px;
  text-align: center;
  color: #ffffff;
  background:
    url('../img/bg-welcome-can.png') calc(50% + 1px) 167px / 280px 270px no-repeat,
    linear-gradient(to bottom,rgba(104, 183, 56, 0.85) 302px, #ffffff 302px, #ffffff 480px),
    url('../img/bg-welcome-cat.jpg') center top / contain no-repeat;
  &__title {
    padding-top: 27px;
    margin-bottom: 25px;
    margin-left: 3px;
  }
  &__text {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 302px;
  }
  &__link {
    margin-left: 2px;
  }
}
